In [11]:
import os
import pandas as pd
import datetime
# dotenv.load_dotenv()
# logger = get_logger(filename="./log")
today = datetime.datetime(2023, 7, 28)
today_str = today.strftime("%d-%m-%Y")
# api = initialize(today_str, logger)
strat_momentum_path = os.path.join("apidata/momentum/28-07-2023/report_28-07-2023.csv")
#os.makedirs(strat_momentum_path, exist_ok=True)

# ft_data = FTDataService(logger=logger, api=api, path="./apidata")

report_path = os.path.join(strat_momentum_path, f'report_{today_str}.csv')
df = pd.read_csv(strat_momentum_path, usecols=['ordtime', 'sym', 'tsym', 'token', 'instrument', 'ls', 'avgprice', 'qty', 'tranType'])
df['totalPrice'] = df.qty * df.avgprice
print(df.columns)
df

Index(['ordtime', 'sym', 'tsym', 'token', 'instrument', 'ls', 'avgprice',
       'qty', 'tranType', 'totalPrice'],
      dtype='object')

,ordtime,sym,tsym,token,instrument,ls,avgprice,qty,tranType,totalPrice
0,2023-07-28 09:31:00,DELTACORP,DELTACORP-EQ,15044,Eq,1,202.50,493,B,99832.50
1,2023-07-28 09:31:00,RBLBANK,RBLBANK-EQ,18391,Eq,1,239.00,418,B,99902.00
2,2023-07-28 09:31:00,IEX,IEX-EQ,220,Eq,1,122.80,814,B,99959.20
3,2023-07-28 09:31:00,SUNTV,SUNTV-EQ,13404,Eq,1,545.80,183,B,99881.40
4,2023-07-28 09:31:00,BSOFT,BSOFT-EQ,6994,Eq,1,416.05,240,B,99852.00
5,2023-07-28 09:31:00,MOTHERSON,MOTHERSON-EQ,4204,Eq,1,97.70,1023,S,99947.10
6,2023-07-28 09:31:00,AXISBANK,AXISBANK-EQ,5900,Eq,1,946.85,105,S,99419.25
7,2023-07-28 09:31:00,LALPATHLAB,LALPATHLAB-EQ,11654,Eq,1,2430.65,41,S,99656.65
8,2023-07-28 09:31:00,HINDPETRO,HINDPETRO-EQ,1406,Eq,1,284.65,351,S,99912.15
9,2023-07-28 09:31:00,MGL,MGL-EQ,17534,Eq,1,1090.00,91,S,99190.00
10,2023-07-28 12:16:00,DELTACORP,DELTACORP-EQ,15044,Eq,1,198.90,493,S,98057.70
11,2023-07-28 12:16:00,RBLBANK,RBLBANK-EQ,18391,Eq,1,236.75,418,S,98961.50
12,2023-07-28 12:16:00,IEX,IEX-EQ,220,Eq,1,122.95,814,S,100081.30
13,2023-07-28 12:16:00,SUNTV,SUNTV-EQ,13404,Eq,1,538.95,183,S,98627.85
14,2023-07-28 12:16:00,BSOFT,BSOFT-EQ,6994,Eq,1,415.90,240,S,99816.00
15,2023-07-28 15:26:00,MOTHERSON,MOTHERSON-EQ,4204,Eq,1,97.55,-1023,B,-99793.65
16,2023-07-28 15:26:00,AXISBANK,AXISBANK-EQ,5900,Eq,1,949.70,-105,B,-99718.50
17,2023-07-28 15:26:00,LALPATHLAB,LALPATHLAB-EQ,11654,Eq,1,2335.90,-41,B,-95771.90
18,2023-07-28 15:26:00,HINDPETRO,HINDPETRO-EQ,1406,Eq,1,279.45,-351,B,-98086.95
19,2023-07-28 15:26:00,MGL,MGL-EQ,17534,Eq,1,1107.30,-91,B,-100764.30
20,2023-07-28 12:15:00,RBLBANK,RBLBANK31AUG23C237.5,172745,OPTSTK,5000,12.90,5000,B,64500.00
21,2023-07-28 12:15:00,IEX,IEX31AUG23C123,148604,OPTSTK,3750,6.05,15000,B,90750.00
22,2023-07-28 12:15:00,BSOFT,BSOFT31AUG23C415,102351,OPTSTK,2000,21.20,4000,B,84800.00
23,2023-07-28 12:15:00,MOTHERSON,MOTHERSON31AUG23P98,135856,OPTSTK,7100,3.95,21300,B,84135.00
24,2023-07-28 12:15:00,AXISBANK,AXISBANK31AUG23P950,88571,OPTSTK,625,19.95,5000,B,99750.00
25,2023-07-28 12:15:00,LALPATHLAB,LALPATHLAB31AUG23P2380,133222,OPTSTK,300,118.10,600,B,70860.00
26,2023-07-28 12:16:00,RBLBANK,RBLBANK31AUG23C237.5,172745,OPTSTK,5000,12.90,5000,S,64500.00
27,2023-07-28 12:16:00,IEX,IEX31AUG23C123,148604,OPTSTK,3750,6.05,15000,S,90750.00
28,2023-07-28 12:16:00,BSOFT,BSOFT31AUG23C415,102351,OPTSTK,2000,21.20,4000,S,84800.00
29,2023-07-28 13:15:00,LALPATHLAB,LALPATHLAB31AUG23P2380,133222,OPTSTK,300,125.95,600,B,75570.00
30,2023-07-28 13:15:00,HINDPETRO,HINDPETRO31AUG23P280,128476,OPTSTK,2700,9.00,10800,B,97200.00
31,2023-07-28 14:15:00,MOTHERSON,MOTHERSON31AUG23P97,135854,OPTSTK,7100,4.10,21300,B,87330.00
32,2023-07-28 14:15:00,LALPATHLAB,LALPATHLAB31AUG23P2380,133222,OPTSTK,300,132.65,600,B,79590.00
33,2023-07-28 14:15:00,HINDPETRO,HINDPETRO31AUG23P280,128476,OPTSTK,2700,9.25,10800,B,99900.00
34,2023-07-28 15:26:00,MOTHERSON,MOTHERSON31AUG23P98,135856,OPTSTK,7100,4.30,21300,S,91590.00
35,2023-07-28 15:26:00,MOTHERSON,MOTHERSON31AUG23P97,135854,OPTSTK,7100,3.75,21300,S,79875.00
36,2023-07-28 15:26:00,AXISBANK,AXISBANK31AUG23P950,88571,OPTSTK,625,19.30,5000,S,96500.00
37,2023-07-28 15:26:00,LALPATHLAB,LALPATHLAB31AUG23P2380,133222,OPTSTK,300,127.00,1800,S,228600.00
38,2023-07-28 15:26:00,HINDPETRO,HINDPETRO31AUG23P280,128476,OPTSTK,2700,9.65,21600,S,208440.00

In [8]:
df.groupby(by='tsym')[['totalPrice']].sum()

                        totalPrice
tsym
AXISBANK-EQ                -299.25
AXISBANK31AUG23P950      196250.00
BSOFT-EQ                 199668.00
BSOFT31AUG23C415         169600.00
DELTACORP-EQ             197890.20
HINDPETRO-EQ               1825.20
HINDPETRO31AUG23P280     405540.00
IEX-EQ                   200040.50
IEX31AUG23C123           181500.00
LALPATHLAB-EQ              3884.75
LALPATHLAB31AUG23P2380   454620.00
MGL-EQ                    -1574.30
MOTHERSON-EQ                153.45
MOTHERSON31AUG23P97      167205.00
MOTHERSON31AUG23P98      175725.00
RBLBANK-EQ               198863.50
RBLBANK31AUG23C237.5     129000.00
SUNTV-EQ                 198509.25

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [36]:
from dataclasses import dataclass, asdict, field 
import datetime
import pandas as pd
from typing import List

class Instrument:
    Equity="Eq"
    OptionsStock="OPTSTK"
    OptionsIndex="OPTIDX"
    FuturesStock="FUTSTK"
    FuturesIndex="FUTIDX"
class OrdStatus:
    New="N"
    Accepted="C"
    Rejected="R"
    Exited="E"

class TranType:
    Buy="B"
    Sell="S"

@dataclass
class Order:
    ord_number:str
    ordtime:datetime.datetime
    sym:str
    tsym:str
    token:str
    instrument:str
    ls:int
    avgprice:float
    qty:int
    tranType:str = TranType.Buy
    status:str = OrdStatus.New
    totalprice:float = field(init=False)

    def __post_init__(self):
        self.totalprice = self.avgprice * self.qty

    def __eq__(self, other):
        return self.token==other.token




class OrderBook:
    def __init__(self, balance) -> None:
        self.opening_balance = balance
        self._balance = balance
        self.ob_eq:List[Order]  = []
        self.ob_opt:List[Order] = []
    
    def __repr__(self) -> str:
        bal   = f'Current balance is:     {self.balance}'
        pnl   = f'Current PnL :           {self.pnl}'
        obeq  = f'Equity Order Book:\n .  {self.print_order_list(self.ob_eq)}'
        obfno = f'FnO Order Book:\n .     {self.print_order_list(self.ob_opt)}'
        return '\n'.join([bal, pnl, obeq, obfno])

    def print_order_list(self, ol):
        # li = [asdict(ord) for ord in ol]
        # df = pd.DataFrame(li)
        df = self.to_df(ol)
        if df.empty:
            return "Empty List"
        return df.__repr__()

    def to_df(self, ol):
        li = [asdict(ord) for ord in ol]
        df = pd.DataFrame(li)
        return df
    
    def to_df_eq(self):
        return self.to_df(self.ob_eq)

    def to_df_opt(self):
        return self.to_df(self.ob_opt)

    def to_csv(self, path):
        dfeq = self.to_df_eq()
        dfop = self.to_df_opt()
        df = pd.concat([dfeq, dfop], axis=0)
        df.to_csv(path, index=None)



    @property
    def balance(self):
        return self._balance

    @property
    def pnl(self):
        return self._balance - self.opening_balance
    
    def balcheck(self, ord:Order):
        if ord.tranType == TranType.Sell:
            return True
        if ord.totalprice <= self._balance:
            return True
        print('Insufficient balance!')
        return False
        
    def isFnO(self, ord:Order):
        return False if ord.instrument == Instrument.Equity else True

    def add(self, ord:Order):
        if not self.balcheck(ord):
            return False

        if self.isFnO(ord):
            return self.addFnoOrder(ord)
        else:
            return self.addEquityOrder(ord)

    def addFnoOrder(self, ord:Order):
        self.ob_opt.append(ord)
        self._balance -= ord.totalprice * (1 if ord.tranType==TranType.Buy else -1)
        return True

    def addEquityOrder(self, ord:Order):
        self.ob_eq.append(ord)
        self._balance -= ord.totalprice * (1 if ord.tranType==TranType.Buy else -1)
        return True
    
    def active_equity_qty(self, symbol:str):
        qt_active = 0
        for ord in self.ob_eq:
            if ord.sym==symbol:
                qt_active += ord.qty * (1 if ord.tranType==TranType.Buy else -1)
        return qt_active
    
    def active_fno(self, symbol):
        tsym_qty = {}
        for ord in self.ob_opt:
            if ord.sym==symbol:
                if ord.tsym in tsym_qty:
                    tsym_qty[ord.tsym] += ord.qty * (1 if ord.tranType==TranType.Buy else -1)
                else:
                    tsym_qty[ord.tsym] = ord.qty * (1 if ord.tranType==TranType.Buy else -1)

        drop_zeros=[]
        for ts, qty in tsym_qty.items():
            if qty==0:
                drop_zeros.append(ts)
        for key in drop_zeros:
            del tsym_qty[key] 

        return tsym_qty

In [43]:
ord1 = Order("2341234", datetime.datetime.now(), "RELIANCE", "RELIANCE31AUG250", "12345", "OPTSTK", 10, 5, 100, "B", "N")
ord2 = Order("2341234", datetime.datetime.now(), "RELIANCE", "RELIANCE31AUG2500", "12345", "OPTSTK", 10, 5, 100, "B", "N")

In [44]:
ord1==ord2

True

In [45]:
ord1.__eq__(ord2)

True

In [46]:
__name__

'__main__'

In [47]:
@dataclass
class C:
    a: float
    b: float
    c: float = field(init=False)

    def __post_init__(self):
        self.c = self.a + self.b

In [50]:
aaa = C(a=2.3, b=4.5)

In [51]:
aaa

C(a=2.3, b=4.5, c=6.8)

In [60]:
a=[]
b = a or 5
b

5

In [70]:
class C1:
    def __init__(self, ):
        self.li = []

    def add(self, val):
        self.li.append(val)

    def print(self):
        print(self.li)

c1 = C1()
c2= C1()

In [71]:
c1.add(4)
c1.add(8)
c2.add(9)
c2.add(5)
c1.add(10)

In [72]:
c1.print()

[4, 8, 10]

In [73]:
c2.print()

[9, 5]

In [80]:
import pandas as pd
st = datetime.datetime.now().replace(hour=9, minute=35, second=0, microsecond=0)
et = datetime.datetime.now().replace(hour=15, minute=20, second=0)
dti = pd.date_range(st, et, freq='5min').to_pydatetime()

In [86]:
dti

array([datetime.datetime(2023, 8, 2, 9, 35),
       datetime.datetime(2023, 8, 2, 9, 40),
       datetime.datetime(2023, 8, 2, 9, 45),
       datetime.datetime(2023, 8, 2, 9, 50),
       datetime.datetime(2023, 8, 2, 9, 55),
       datetime.datetime(2023, 8, 2, 10, 0),
       datetime.datetime(2023, 8, 2, 10, 5),
       datetime.datetime(2023, 8, 2, 10, 10),
       datetime.datetime(2023, 8, 2, 10, 15),
       datetime.datetime(2023, 8, 2, 10, 20),
       datetime.datetime(2023, 8, 2, 10, 25),
       datetime.datetime(2023, 8, 2, 10, 30),
       datetime.datetime(2023, 8, 2, 10, 35),
       datetime.datetime(2023, 8, 2, 10, 40),
       datetime.datetime(2023, 8, 2, 10, 45),
       datetime.datetime(2023, 8, 2, 10, 50),
       datetime.datetime(2023, 8, 2, 10, 55),
       datetime.datetime(2023, 8, 2, 11, 0),
       datetime.datetime(2023, 8, 2, 11, 5),
       datetime.datetime(2023, 8, 2, 11, 10),
       datetime.datetime(2023, 8, 2, 11, 15),
       datetime.datetime(2023, 8, 2, 11, 20),
       datetime.datetime(2023, 8, 2, 11, 25),
       datetime.datetime(2023, 8, 2, 11, 30),
       datetime.datetime(2023, 8, 2, 11, 35),
       datetime.datetime(2023, 8, 2, 11, 40),
       datetime.datetime(2023, 8, 2, 11, 45),
       datetime.datetime(2023, 8, 2, 11, 50),
       datetime.datetime(2023, 8, 2, 11, 55),
       datetime.datetime(2023, 8, 2, 12, 0),
       datetime.datetime(2023, 8, 2, 12, 5),
       datetime.datetime(2023, 8, 2, 12, 10),
       datetime.datetime(2023, 8, 2, 12, 15),
       datetime.datetime(2023, 8, 2, 12, 20),
       datetime.datetime(2023, 8, 2, 12, 25),
       datetime.datetime(2023, 8, 2, 12, 30),
       datetime.datetime(2023, 8, 2, 12, 35),
       datetime.datetime(2023, 8, 2, 12, 40),
       datetime.datetime(2023, 8, 2, 12, 45),
       datetime.datetime(2023, 8, 2, 12, 50),
       datetime.datetime(2023, 8, 2, 12, 55),
       datetime.datetime(2023, 8, 2, 13, 0),
       datetime.datetime(2023, 8, 2, 13, 5),
       datetime.datetime(2023, 8, 2, 13, 10),
       datetime.datetime(2023, 8, 2, 13, 15),
       datetime.datetime(2023, 8, 2, 13, 20),
       datetime.datetime(2023, 8, 2, 13, 25),
       datetime.datetime(2023, 8, 2, 13, 30),
       datetime.datetime(2023, 8, 2, 13, 35),
       datetime.datetime(2023, 8, 2, 13, 40),
       datetime.datetime(2023, 8, 2, 13, 45),
       datetime.datetime(2023, 8, 2, 13, 50),
       datetime.datetime(2023, 8, 2, 13, 55),
       datetime.datetime(2023, 8, 2, 14, 0),
       datetime.datetime(2023, 8, 2, 14, 5),
       datetime.datetime(2023, 8, 2, 14, 10),
       datetime.datetime(2023, 8, 2, 14, 15),
       datetime.datetime(2023, 8, 2, 14, 20),
       datetime.datetime(2023, 8, 2, 14, 25),
       datetime.datetime(2023, 8, 2, 14, 30),
       datetime.datetime(2023, 8, 2, 14, 35),
       datetime.datetime(2023, 8, 2, 14, 40),
       datetime.datetime(2023, 8, 2, 14, 45),
       datetime.datetime(2023, 8, 2, 14, 50),
       datetime.datetime(2023, 8, 2, 14, 55),
       datetime.datetime(2023, 8, 2, 15, 0),
       datetime.datetime(2023, 8, 2, 15, 5),
       datetime.datetime(2023, 8, 2, 15, 10),
       datetime.datetime(2023, 8, 2, 15, 15),
       datetime.datetime(2023, 8, 2, 15, 20)], dtype=object)