In [1]:
import pandas as pd
import datetime
from src.logger import get_logger
from src.FnOList import FnOEquityNSE
from src.connectFlattrade import ConnectFlatTrade
from src.noren import NorenApiPy
import dotenv
import os

dotenv.load_dotenv()
logger = get_logger(filename='./log')

genToken = False

if genToken:
  con = ConnectFlatTrade(logger=logger)
  resp = con.run()
  con.set_token_to_dotenv()
# print(resp)
# token = resp['USER_TOKEN']
token = os.getenv('TODAYSTOKEN')
print(token)

fnoconnect = FnOEquityNSE(logger=logger, path='./nsedata/fo')
df = fnoconnect.get_latest(update=True)

api = NorenApiPy()
usersession=token
userid = 'FT020770'

ret = api.set_session(userid= userid, password = '', usertoken= usersession)
ret = api.get_limits()
print(ret)

22-07-23 13:06:35PM - INFO - connectFlattrade.py:27 - Starting the token generation!
22-07-23 13:06:41PM - INFO - connectFlattrade.py:31 - Success: Token generated
22-07-23 13:06:41PM - INFO - connectFlattrade.py:39 - Setting the TODAYSTOKEN to the .env
22-07-23 13:06:41PM - INFO - FnOList.py:41 - Getting raw F&O equity list from NSE

4ba9400a75d8dd468b617ef118781dcb09f650f06c88b36aa3638830eb5ec673

22-07-23 13:06:42PM - INFO - FnOList.py:63 - Updating raw F&O equity list data to local storage
22-07-23 13:06:42PM - INFO - FnOList.py:53 - Fetching raw F&O equity list data from local storage
22-07-23 13:06:42PM - INFO - FnOList.py:71 - Editing raw NSE F&O euity list data
22-07-23 13:06:42PM - INFO - FnOList.py:29 - Updating edited F&O equity list

{'request_time': '13:06:43 22-07-2023', 'stat': 'Ok', 'prfname': 'KAMBALA', 'cash': '0.00', 'payin': '0.00', 'payout': '0.00', 'brkcollamt': '0.00', 'unclearedcash': '0.00', 'aux_daycash': '0.00', 'aux_brkcollamt': '0.00', 'aux_unclearedcash': '0.00', 'daycash': '0.00', 'turnoverlmt': '1000000000000.00', 'pendordvallmt': '1000000000000.00', 'blk_amt': '0.00'}

In [15]:
tsym = []
token = []
for index, row in df.iterrows():
    st = row['UNDERLYING']
    obj = api.searchscrip(exchange='NSE', searchtext=st)
    added = False
    for i in obj['values']:
        if (i['tsym'].endswith('EQ') and i['cname']==st):
            tsym.append(i['tsym'])
            token.append(i['token'])
            added=True
            break
    if not added:
        logger.error("Unable to find token for %s", st)

df['tsym'] = tsym
df['token'] = token
print(df)
# df.to_csv('/content/fo_scrips.csv')

                    UNDERLYING      SYMBOL  JUL-23   AUG-23   SEP-23  DEC-23  \
0             APOLLO TYRES LTD  APOLLOTYRE    1700   1700.0   1700.0     NaN
1               ASTRAL LIMITED      ASTRAL     367    367.0    367.0     NaN
2    ADITYA BIRLA FASHION & RT       ABFRL    2600   2600.0   2600.0     NaN
3      ALKEM LABORATORIES LTD.       ALKEM     200    200.0    200.0     NaN
4         AARTI INDUSTRIES LTD    AARTIIND    1000   1000.0   1000.0     NaN
..                         ...         ...     ...      ...      ...     ...
180        POWER FIN CORP LTD.         PFC    6200   6200.0   6200.0     NaN
181         TATA STEEL LIMITED   TATASTEEL    5500   5500.0   5500.0     NaN
182      GODREJ PROPERTIES LTD  GODREJPROP     475    475.0    475.0     NaN
183      VODAFONE IDEA LIMITED        IDEA   80000  80000.0  80000.0     NaN
184            MPHASIS LIMITED     MPHASIS     275    275.0    275.0     NaN

     MAR-24  JUN-24  DEC-24  JUN-25  DEC-25  JUN-26  DEC-26  JUN-27  DEC-27  \
0       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
180     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
181     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
182     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
183     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
184     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

     JUN-28           tsym  token
0       NaN  APOLLOTYRE-EQ    163
1       NaN      ASTRAL-EQ  14418
2       NaN       ABFRL-EQ  30108
3       NaN       ALKEM-EQ  11703
4       NaN    AARTIIND-EQ      7
..      ...            ...    ...
180     NaN         PFC-EQ  14299
181     NaN   TATASTEEL-EQ   3499
182     NaN  GODREJPROP-EQ  17875
183     NaN        IDEA-EQ  14366
184     NaN     MPHASIS-EQ   4503

[185 rows x 18 columns]

In [1]:
import time

In [2]:
time.strftime('%d-%m-%Y')

'22-07-2023'

In [3]:
time.localtime()

time.struct_time(tm_year=2023, tm_mon=7, tm_mday=22, tm_hour=19, tm_min=44, tm_sec=19, tm_wday=5, tm_yday=203, tm_isdst=0)

In [5]:
time.mktime(time.localtime())

1690035317.0

In [9]:
time_string = '22-07-2023 09:15:00'
data = time.strptime(time_string,'%d-%m-%Y %H:%M:%S', tz)
print(data)

time.struct_time(tm_year=2023, tm_mon=7, tm_mday=22, tm_hour=9, tm_min=15, tm_sec=0, tm_wday=5, tm_yday=203, tm_isdst=-1)

In [17]:
time.localtime().tzname

AttributeError: 'time.struct_time' object has no attribute 'tzname'

In [19]:
import asyncio

async def main():
    print('Hello ...')
    await asyncio.sleep(1)
    print('... World!')

In [21]:
await main()

Hello ...
... World!

In [1]:
import pandas as pd

In [5]:
a = [{'hi':40, 'lo':20, 'open':30, 'close':32}, {'hi':34, 'lo':17, 'open':32, 'close':28}, {'hi':40, 'lo':20, 'open':30, 'close':32}, {'hi':40, 'lo':20, 'open':30, 'close':32}]

In [8]:
df1 = pd.DataFrame(a)

In [10]:
df1

   hi  lo  open  close
0  40  20    30     32
1  34  17    32     28
2  40  20    30     32
3  40  20    30     32

In [11]:
b = [{'hi':40, 'lo':20, 'open':30, 'close':32}, {'hi':34, 'lo':17, 'open':32, 'close':28}, {'hi':40, 'lo':20, 'open':30, 'close':32}, {'hi':40, 'lo':20, 'open':30, 'close':32}]

In [14]:
df2 = pd.DataFrame(b)
pd.concat([df1, df2], axis=1)

   hi  lo  open  close  hi  lo  open  close
0  40  20    30     32  40  20    30     32
1  34  17    32     28  34  17    32     28
2  40  20    30     32  40  20    30     32
3  40  20    30     32  40  20    30     32