In [1]:
import pandas as pd
import datetime
from src.logger import get_logger
from src.FnOList import FnOEquityNSE
from src.connectFlattrade import ConnectFlatTrade
from src.api.noren import NorenApiPy
import dotenv
import os
import numpy as np
import time
import datetime

dotenv.load_dotenv()
logger = get_logger(filename='./log')

genToken = False

if genToken:
  con = ConnectFlatTrade(logger=logger)
  resp = con.run()
  con.set_token_to_dotenv()
# print(resp)
# token = resp['USER_TOKEN']
token = "c2d0eb91696df9a664fe655f174ca24dff1bb026bd3979c9c50bdb6649a5bea1"

print(token)
#fnoconnect = FnOEquityNSE(logger=logger, path='./nsedata/fo')
#df = fnoconnect.get_latest(update=True)

api = NorenApiPy()
usersession=token
userid = 'FT020770'

ret = api.set_session(userid= userid, password = '', usertoken= usersession)
api.get_limits()
api.get_user_details()

c2d0eb91696df9a664fe655f174ca24dff1bb026bd3979c9c50bdb6649a5bea1
FT020770 session set to : c2d0eb91696df9a664fe655f174ca24dff1bb026bd3979c9c50bdb6649a5bea1
https://piconnect.flattrade.in/PiConnectTP//Limits
jData={"uid": "FT020770", "actid": "FT020770"}&jKey=c2d0eb91696df9a664fe655f174ca24dff1bb026bd3979c9c50bdb6649a5bea1
{"request_time":"13:08:01 05-08-2023","stat":"Ok","prfname":"KAMBALA","cash":"0.00","payin":"0.00","payout":"0.00","brkcollamt":"0.00","unclearedcash":"0.00","aux_daycash":"0.00","aux_brkcollamt":"0.00","aux_unclearedcash":"0.00","daycash":"0.00","turnoverlmt":"1000000000000.00","pendordvallmt":"1000000000000.00","blk_amt":"0.00"}
https://piconnect.flattrade.in/PiConnectTP//UserDetails
jData={"uid": "FT020770"}&jKey=c2d0eb91696df9a664fe655f174ca24dff1bb026bd3979c9c50bdb6649a5bea1
{"request_time":"13:08:01 05-08-2023","uname":"DESAI HARSHAVARDHAN","m_num":"9867128700","exarr":["NSE","BSE","MCX","CDS","NFO","BFO","BCD"],"prarr":[{"prd":"M","s_prdt_ali":"NRML","exch":["NFO","BFO","CDS","BCD","MCX"]},{"prd":"I","s_prdt_ali":"MIS","exch":["NSE","BSE","NFO","BFO","CDS","BCD","MCX"]},{"prd":"H","s_prdt_ali":"CO","exch":["NFO","MCX","NSE","CDS"]},{"prd":"B","s_prdt_ali":"BO","exch":["NFO","MCX","NSE","CDS"]},{"prd":"C","s_prdt_ali":"CNC","exch":["NSE","BSE"]}],"orarr":["MKT","LMT","SL-LMT","SL-MKT"],"brkname":"FTC","uid":"FT020770","brnchid":"HO","email":"D.HARSHA.V23@GMAIL.COM","actid":"FT020770","uprev":"INVESTOR","stat":"Ok"}

{'request_time': '13:08:01 05-08-2023',
 'uname': 'DESAI HARSHAVARDHAN',
 'm_num': '9867128700',
 'exarr': ['NSE', 'BSE', 'MCX', 'CDS', 'NFO', 'BFO', 'BCD'],
 'prarr': [{'prd': 'M',
   's_prdt_ali': 'NRML',
   'exch': ['NFO', 'BFO', 'CDS', 'BCD', 'MCX']},
  {'prd': 'I',
   's_prdt_ali': 'MIS',
   'exch': ['NSE', 'BSE', 'NFO', 'BFO', 'CDS', 'BCD', 'MCX']},
  {'prd': 'H', 's_prdt_ali': 'CO', 'exch': ['NFO', 'MCX', 'NSE', 'CDS']},
  {'prd': 'B', 's_prdt_ali': 'BO', 'exch': ['NFO', 'MCX', 'NSE', 'CDS']},
  {'prd': 'C', 's_prdt_ali': 'CNC', 'exch': ['NSE', 'BSE']}],
 'orarr': ['MKT', 'LMT', 'SL-LMT', 'SL-MKT'],
 'brkname': 'FTC',
 'uid': 'FT020770',
 'brnchid': 'HO',
 'email': 'D.HARSHA.V23@GMAIL.COM',
 'actid': 'FT020770',
 'uprev': 'INVESTOR',
 'stat': 'Ok'}

In [18]:
api.get_order_margin("NSE", "RELIANCE-EQ", "1", "1", "M", "S", "MKT")

https://piconnect.flattrade.in/PiConnectTP//GetOrderMargin
jData={"ordersource": "API", "uid": "FT020770", "actid": "FT020770", "exch": "NSE", "tsym": "RELIANCE-EQ", "qty": "1", "prc": "1", "trgprc": "None", "prd": "M", "trantype": "S", "prctyp": "MKT"}&jKey=c2d0eb91696df9a664fe655f174ca24dff1bb026bd3979c9c50bdb6649a5bea1
{"request_time":"14:33:29 05-08-2023","stat":"Ok","cash":"0.00","marginused":"0.50","remarks":"Insufficient Balance","marginusedprev":"0.00","ordermargin":"0.50"}

{'request_time': '14:33:29 05-08-2023',
 'stat': 'Ok',
 'cash': '0.00',
 'marginused': '0.50',
 'remarks': 'Insufficient Balance',
 'marginusedprev': '0.00',
 'ordermargin': '0.50'}

In [26]:
#api.searchscrip(exchange='NFO', searchtext="ADANIENT SEP 2450")
api.get_order_margin("NFO", "RELIANCE31AUG23P2500", "1", "1", "M", "S", "MKT")

https://piconnect.flattrade.in/PiConnectTP//GetOrderMargin
jData={"ordersource": "API", "uid": "FT020770", "actid": "FT020770", "exch": "NFO", "tsym": "RELIANCE31AUG23P2500", "qty": "1", "prc": "1", "trgprc": "None", "prd": "M", "trantype": "S", "prctyp": "MKT"}&jKey=c2d0eb91696df9a664fe655f174ca24dff1bb026bd3979c9c50bdb6649a5bea1
{"request_time":"14:38:47 05-08-2023","stat":"Ok","cash":"0.00","marginused":"484.70","remarks":"Insufficient Balance","marginusedprev":"0.00","ordermargin":"484.70"}

{'request_time': '14:38:47 05-08-2023',
 'stat': 'Ok',
 'cash': '0.00',
 'marginused': '484.70',
 'remarks': 'Insufficient Balance',
 'marginusedprev': '0.00',
 'ordermargin': '484.70'}

In [22]:
api.searchscrip(exchange='NFO', searchtext="RELIANCE AUG 2500")

https://piconnect.flattrade.in/PiConnectTP//SearchScrip
jData={"uid": "FT020770", "exch": "NFO", "stext": "RELIANCE+AUG+2500"}&jKey=c2d0eb91696df9a664fe655f174ca24dff1bb026bd3979c9c50bdb6649a5bea1
{"stat":"Ok","values":[{"exch":"NFO","token":"141273","tsym":"RELIANCE31AUG23P2500","dname":"RELIANCE AUG 2500 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141272","tsym":"RELIANCE31AUG23C2500","dname":"RELIANCE AUG 2500 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"}]}

{'stat': 'Ok',
 'values': [{'exch': 'NFO',
   'token': '141273',
   'tsym': 'RELIANCE31AUG23P2500',
   'dname': 'RELIANCE AUG 2500 PE ',
   'optt': 'PE',
   'instname': 'OPTSTK',
   'pp': '2',
   'ls': '250',
   'ti': '0.05'},
  {'exch': 'NFO',
   'token': '141272',
   'tsym': 'RELIANCE31AUG23C2500',
   'dname': 'RELIANCE AUG 2500 CE ',
   'optt': 'CE',
   'instname': 'OPTSTK',
   'pp': '2',
   'ls': '250',
   'ti': '0.05'}]}

In [180]:
df = pd.read_csv("https://shoonya.finvasia.com/NFO_symbols.txt.zip")

In [181]:
df.columns

Index(['Exchange', 'Token', 'LotSize', 'Symbol', 'TradingSymbol', 'Expiry',
       'Instrument', 'OptionType', 'StrikePrice', 'TickSize', 'Unnamed: 10'],
      dtype='object')

In [153]:
#dfu = df.drop_duplicates(subset='Symbol')
df.drop_duplicates(subset='Instrument')

,Exchange,Token,LotSize,Symbol,TradingSymbol,Expiry,Instrument,OptionType,StrikePrice,TickSize,Unnamed: 10
0,NFO,179896,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23P800,28-SEP-2023,OPTSTK,PE,800.00,0.05,NaN
74020,NFO,86856,50,NIFTY,NIFTY28SEP23P27000,28-SEP-2023,OPTIDX,PE,27000.00,0.05,NaN
87723,NFO,63585,40,FINNIFTY,FINNIFTY31OCT23F,31-OCT-2023,FUTIDX,XX,-0.01,0.05,NaN
92573,NFO,58725,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23F,28-SEP-2023,FUTSTK,XX,-0.01,0.05,NaN

In [11]:
#api.get_quotes("NFO", "NIFTY28SEP23P27000")
api.searchscrip("NSE", "RELIANCE")

https://piconnect.flattrade.in/PiConnectTP//SearchScrip
jData={"uid": "FT020770", "exch": "NSE", "stext": "RELIANCE"}&jKey=49fc9a473a2f72db93903b694374d8e90cbc3dd44b8479b71f87aab141ecc9df
{"stat":"Ok","values":[{"exch":"NSE","token":"2885","tsym":"RELIANCE-EQ","cname":"RELIANCE INDUSTRIES LTD","instname":"EQ","pp":"2","ls":"1","ti":"0.05"},{"exch":"NSE","token":"12713","tsym":"RELIANCE-BL","cname":"RELIANCE INDUSTRIES LTD","instname":"BL","pp":"2","ls":"999999999","ti":"0.05"}]}

{'stat': 'Ok',
 'values': [{'exch': 'NSE',
   'token': '2885',
   'tsym': 'RELIANCE-EQ',
   'cname': 'RELIANCE INDUSTRIES LTD',
   'instname': 'EQ',
   'pp': '2',
   'ls': '1',
   'ti': '0.05'},
  {'exch': 'NSE',
   'token': '12713',
   'tsym': 'RELIANCE-BL',
   'cname': 'RELIANCE INDUSTRIES LTD',
   'instname': 'BL',
   'pp': '2',
   'ls': '999999999',
   'ti': '0.05'}]}

In [12]:
import time
def get_epoch_time(time_string):
    data = time.strptime(time_string,'%d-%m-%Y %H:%M:%S')
    return time.mktime(data)
#api.get_time_price_series("NFO", "NIFTY28SEP23P27000", get_epoch_time("26-07-2023 09:15:00"), get_epoch_time("26-07-2023 09:45:00"), 1)
res = api.get_time_price_series("NSE", "2885", get_epoch_time("28-07-2023 09:15:00"), get_epoch_time("28-07-2023 09:30:00"), 15)

https://piconnect.flattrade.in/PiConnectTP//TPSeries
jData={"ordersource": "API", "uid": "FT020770", "exch": "NSE", "token": "2885", "st": "1690515900.0", "et": "1690516800.0", "intrv": "15"}&jKey=49fc9a473a2f72db93903b694374d8e90cbc3dd44b8479b71f87aab141ecc9df
[{"stat":"Ok","time":"28-07-2023 09:15:00","ssboe":"1690515900","into":"2511.00","inth":"2512.30","intl":"2500.95","intc":"2505.60","intvwap":"2504.91","intv":"693599","intoi":"0","v":"710092","oi":"0"}]

In [13]:
df = pd.DataFrame(res)
df['time'] = pd.to_datetime(df['time'], format='%d-%m-%Y %H:%M:%S')
df = df.drop('stat', axis=1)

df[['ssboe', 'into', 'inth', 'intl', 'intc', 'intvwap', 'intv', 'intoi', 'v', 'oi']] = df[['ssboe', 'into', 'inth', 'intl', 'intc', 'intvwap', 'intv', 'intoi', 'v', 'oi']].apply(pd.to_numeric)
#df = df[df['time']>datetime.datetime.strptime("26-07-2023 09:14:00", "%d-%m-%Y %H:%M:%S")]
#df = df[df['time']<datetime.datetime.strptime("26-07-2023 15:30:00", "%d-%m-%Y %H:%M:%S")]
df

,time,ssboe,into,inth,intl,intc,intvwap,intv,intoi,v,oi,token
0,2023-07-28 09:15:00,1690515900,2511.0,2512.3,2500.95,2505.6,2504.91,693599,0,710092,0,2885

In [46]:
df1 = df.resample('34min', on='time', origin='start').agg({'ssboe':lambda x:x.iloc[0], 'into':lambda x:x.iloc[0], 'inth':np.max, 'intl':np.min, 'intc':lambda x:x.iloc[-1], 'intv': np.sum, 'v': np.sum})
#df1 = df1.reset_index()
df1

,ssboe,into,inth,intl,intc,intv,v
time,,,,,,,
2023-07-26 09:15:00,1690343100,2486.95,2510.25,2485.25,2510.00,1199907,18348458
2023-07-26 09:49:00,1690345140,2510.25,2547.00,2508.00,2540.00,1545576,71197184
2023-07-26 10:23:00,1690347180,2540.10,2547.00,2533.35,2534.00,752072,109602322
2023-07-26 10:57:00,1690349220,2534.85,2544.70,2531.25,2540.90,359115,126825384
2023-07-26 11:31:00,1690351260,2540.00,2542.40,2536.00,2540.95,210794,136171199
2023-07-26 12:05:00,1690353300,2540.70,2541.00,2535.00,2535.00,213694,142953086
2023-07-26 12:39:00,1690355340,2535.10,2535.95,2526.00,2527.50,394839,152836105
2023-07-26 13:13:00,1690357380,2527.65,2532.50,2526.05,2528.45,289972,165547667
2023-07-26 13:47:00,1690359420,2528.30,2531.65,2524.30,2530.80,324236,175739980
2023-07-26 14:21:00,1690361460,2530.90,2533.85,2524.00,2524.60,328489,187052565
2023-07-26 14:55:00,1690363500,2524.55,2530.15,2519.10,2524.15,786236,205455559
2023-07-26 15:29:00,1690365540,2524.25,2527.95,2524.25,2525.00,13545,6453859

In [ ]:
res = api.get_time_price_series("NSE", "DLF-EQ", get_epoch_time("28-07-2023 09:16:00"), get_epoch_time("28-07-2023 15:30:00"), 1)
df2 = pd.DataFrame(res)
df2['time'] = pd.to_datetime(df2['time'], format='%d-%m-%Y %H:%M:%S')
df2 = df2.drop('stat', axis=1)
df2
# df2[['ssboe', 'into', 'inth', 'intl', 'intc', 'intvwap', 'intv', 'intoi', 'v', 'oi']] = df2[['ssboe', 'into', 'inth', 'intl', 'intc', 'intvwap', 'intv', 'intoi', 'v', 'oi']].apply(pd.to_numeric)
# df2 = df2[df2['time']>datetime.datetime.strptime("26-07-2023 09:14:00", "%d-%m-%Y %H:%M:%S")]
# df2 = df2[df2['time']<datetime.datetime.strptime("26-07-2023 15:30:00", "%d-%m-%Y %H:%M:%S")]
# df2 = df2.set_index('time')
# df2.sort_index()

In [40]:
dfdiff = pd.concat([df1, df2], axis=1)

In [41]:
dfdiff.reset_index('time', drop=True)

,ssboe,into,inth,intl,intc,intv,v,ssboe,into,inth,intl,intc,intvwap,intv,intoi,v,oi
0,1690343100,2486.95,2545.85,2485.25,2544.45,2534952,67825562,1690343100,2486.95,2545.85,2485.25,2544.45,2515.85,2534952,0,2570336,0
1,1690346700,2544.00,2547.00,2531.25,2539.70,1178360,197013209,1690346700,2544.00,2547.00,2531.25,2539.70,2540.62,1178360,0,3748696,0
2,1690350300,2539.55,2544.70,2536.00,2540.05,412310,238666380,1690350300,2539.55,2544.70,2536.00,2540.05,2540.09,412310,0,4161006,0
3,1690353900,2539.65,2540.90,2526.00,2526.65,564490,263873024,1690353900,2539.65,2540.90,2526.00,2526.65,2533.29,564490,0,4725496,0
4,1690357500,2527.45,2532.50,2524.30,2527.50,535207,300082226,1690357500,2527.45,2532.50,2524.30,2527.50,2528.25,535207,0,5260703,0
5,1690361100,2527.05,2533.85,2519.10,2530.10,833723,336265605,1690361100,2527.05,2533.85,2519.10,2530.10,2527.25,833723,0,6094426,0
6,1690364700,2530.00,2530.15,2522.90,2525.00,359433,94457362,1690364700,2530.00,2530.15,2522.90,2525.00,2527.26,359433,0,6453859,0

In [43]:
dfdiff['intodiff'] = dfdiff.iloc[:, 1] -dfdiff.iloc[:, 8]
dfdiff['inthdiff'] = dfdiff.iloc[:, 2] -dfdiff.iloc[:, 9]
dfdiff['intldiff'] = dfdiff.iloc[:, 3] -dfdiff.iloc[:, 10]
dfdiff['intcdiff'] = dfdiff.iloc[:, 4] -dfdiff.iloc[:, 11]
dfdiff['intvdiff'] = dfdiff.iloc[:, 5] -dfdiff.iloc[:, 13]
dfdiff['vdiff']    = dfdiff.iloc[:, 6] -dfdiff.iloc[:, 15]

dfdiff

,ssboe,into,inth,intl,intc,intv,v,ssboe,into,inth,...,intv,intoi,v,oi,intodiff,inthdiff,intldiff,intcdiff,intvdiff,vdiff
time,,,,,,,,,,,,,,,,,,,,,
2023-07-26 09:15:00,1690343100,2486.95,2545.85,2485.25,2544.45,2534952,67825562,1690343100,2486.95,2545.85,...,2534952,0,2570336,0,0.0,0.0,0.0,0.0,0,65255226
2023-07-26 10:15:00,1690346700,2544.00,2547.00,2531.25,2539.70,1178360,197013209,1690346700,2544.00,2547.00,...,1178360,0,3748696,0,0.0,0.0,0.0,0.0,0,193264513
2023-07-26 11:15:00,1690350300,2539.55,2544.70,2536.00,2540.05,412310,238666380,1690350300,2539.55,2544.70,...,412310,0,4161006,0,0.0,0.0,0.0,0.0,0,234505374
2023-07-26 12:15:00,1690353900,2539.65,2540.90,2526.00,2526.65,564490,263873024,1690353900,2539.65,2540.90,...,564490,0,4725496,0,0.0,0.0,0.0,0.0,0,259147528
2023-07-26 13:15:00,1690357500,2527.45,2532.50,2524.30,2527.50,535207,300082226,1690357500,2527.45,2532.50,...,535207,0,5260703,0,0.0,0.0,0.0,0.0,0,294821523
2023-07-26 14:15:00,1690361100,2527.05,2533.85,2519.10,2530.10,833723,336265605,1690361100,2527.05,2533.85,...,833723,0,6094426,0,0.0,0.0,0.0,0.0,0,330171179
2023-07-26 15:15:00,1690364700,2530.00,2530.15,2522.90,2525.00,359433,94457362,1690364700,2530.00,2530.15,...,359433,0,6453859,0,0.0,0.0,0.0,0.0,0,88003503

In [ ]:
time_string = "27-07-2023 09:15:00"
data = time.strptime(time_string,'%d-%m-%Y %H:%M:%S')
time.tzset("Asia/Kolkata")
time.mktime(data)

In [345]:
os.environ['TZ'] =

KeyError: 'TZ'

In [388]:
import pytz
indian_tz = pytz.timezone('Asia/Kolkata')
naive  = datetime.datetime(2023, 7, 27, 9, 15, 0)
ind = indian_tz.localize(naive)
ind.timestamp()

1690429500.0

In [386]:
naive.strftime('%d-%m-%Y %H:%M:%S')

'27-07-2023 09:15:00'

In [387]:
naive.timestamp()

1690429500.0

In [384]:
time_string = "27-07-2023 09:15:00"
data = time.strptime(time_string,'%d-%m-%Y %H:%M:%S')
time.mktime(data)

1690429500.0

In [444]:
dtypedict = {'time': 'str', 'ssboe': 'int64', 'into': 'float64', 'inth': 'float64', 'intl': 'float64', 'intc': 'float64', 'intvwap': 'float64', 'intv': 'int64', 'intoi': 'int64', 'v': 'int64', 'oi': 'int64'}
df = pd.read_csv('./apidata/NSE/AUROPHARMA/AUROPHARMA-EQ_27-07-2023.csv', dtype=dtypedict)
df.head()

,time,ssboe,into,inth,intl,intc,intvwap,intv,intoi,v,oi
0,2023-07-27 15:29:00,1690451940,837.00,837.80,835.15,836.00,836.77,7977,0,6336012,0
1,2023-07-27 15:28:00,1690451880,836.45,836.90,835.90,836.50,835.95,8864,0,6328035,0
2,2023-07-27 15:27:00,1690451820,836.10,836.75,836.00,836.00,838.66,19195,0,6319171,0
3,2023-07-27 15:26:00,1690451760,834.80,836.20,834.50,836.05,835.16,29498,0,6299976,0
4,2023-07-27 15:25:00,1690451700,834.65,835.00,834.45,834.90,835.48,9313,0,6270478,0

In [451]:
tz_indian = pytz.timezone("Asia/Kolkata")
tm_unaware = pd.to_datetime(df['time'], utc=True)
tm_unaware

0     2023-07-27 15:29:00+00:00
1     2023-07-27 15:28:00+00:00
2     2023-07-27 15:27:00+00:00
3     2023-07-27 15:26:00+00:00
4     2023-07-27 15:25:00+00:00
                 ...
370   2023-07-27 09:19:00+00:00
371   2023-07-27 09:18:00+00:00
372   2023-07-27 09:17:00+00:00
373   2023-07-27 09:16:00+00:00
374   2023-07-27 09:15:00+00:00
Name: time, Length: 375, dtype: datetime64[ns, UTC]

In [452]:
tm_unaware.tz_convert("Asia/Kolkata")

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [402]:
tm = datetime.datetime(2023, 7, 27, 15, 0,0)
dl = datetime.timedelta(minutes=6)
dl

datetime.timedelta(seconds=360)

In [407]:
(tm + dl).replace(minute=0) + dl

datetime.datetime(2023, 7, 27, 15, 6)

In [431]:
import pytz
tz = pytz.timezone('Asia/Kolkata')
tt = datetime.datetime(2023, 7, 27, 15, 6)

In [432]:
tt
tt.timestamp()

1690450560.0

In [417]:
tt2 = tz.localize(tt)

In [418]:
tt2.timestamp()

1690450560.0

In [423]:
utctime = datetime.datetime.utcfromtimestamp(1690450560.0)

In [424]:
utc = pytz.utc
utct = utc.localize(utctime)

In [425]:
utct

datetime.datetime(2023, 7, 27, 9, 36, tzinfo=<UTC>)

In [427]:
utct.astimezone(tz)

datetime.datetime(2023, 7, 27, 15, 6, tzinfo=<DstTzInfo 'Asia/Kolkata' IST+5:30:00 STD>)

In [71]:
#df = pd.read_csv('https://shoonya.finvasia.com/NFO_symbols.txt.zip')
df = pd.read_csv('apidata/NFO/NFO_symbols.csv')
df = df.rename(columns={'Exchange':'exchange', 'Token':'token', 'LotSize':'lotsize', 'Symbol':'symbol', 'TradingSymbol':'tsym', 'OptionType':'optiontype', 'StrikePrice':'strikeprice', 'Instrument':'instrument', 'Expiry':'expiry', 'TickSize':'ticksize'})
del df['Unnamed: 10']
df.expiry = pd.to_datetime(df['expiry'])
# df.to_csv('apidata/NFO/symbol_token.csv', index=False)
df

,exchange,token,lotsize,symbol,tsym,expiry,instrument,optiontype,strikeprice,ticksize
0,NFO,179896,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23P800,2023-09-28,OPTSTK,PE,800.0,0.05
1,NFO,179895,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23C800,2023-09-28,OPTSTK,CE,800.0,0.05
2,NFO,179894,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23P795,2023-09-28,OPTSTK,PE,795.0,0.05
3,NFO,179893,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23C795,2023-09-28,OPTSTK,CE,795.0,0.05
4,NFO,179892,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23P790,2023-09-28,OPTSTK,PE,790.0,0.05
...,...,...,...,...,...,...,...,...,...,...
114639,NFO,35004,15,BANKNIFTY,BANKNIFTY03AUG23C38600,2023-08-03,OPTIDX,CE,38600.0,0.05
114640,NFO,35003,15,BANKNIFTY,BANKNIFTY10AUG23P39900,2023-08-10,OPTIDX,PE,39900.0,0.05
114641,NFO,35002,15,BANKNIFTY,BANKNIFTY10AUG23C39900,2023-08-10,OPTIDX,CE,39900.0,0.05
114642,NFO,35001,15,BANKNIFTY,BANKNIFTY10AUG23P33000,2023-08-10,OPTIDX,PE,33000.0,0.05
114643,NFO,35000,15,BANKNIFTY,BANKNIFTY10AUG23C33000,2023-08-10,OPTIDX,CE,33000.0,0.05

In [67]:

df[df['expiry']==datetime()]

,exchange,token,lotsize,symbol,tsym,expiry,instrument,optiontype,strikeprice,ticksize
74020,NFO,86856,50,NIFTY,NIFTY28SEP23P27000,28-SEP-2023,OPTIDX,PE,27000.0,0.05
74021,NFO,86855,50,NIFTY,NIFTY28SEP23C27000,28-SEP-2023,OPTIDX,CE,27000.0,0.05
74022,NFO,86854,50,NIFTY,NIFTY28SEP23P26000,28-SEP-2023,OPTIDX,PE,26000.0,0.05
74023,NFO,86853,50,NIFTY,NIFTY28SEP23C26000,28-SEP-2023,OPTIDX,CE,26000.0,0.05
74024,NFO,86852,50,NIFTY,NIFTY28SEP23P25000,28-SEP-2023,OPTIDX,PE,25000.0,0.05
...,...,...,...,...,...,...,...,...,...,...
114639,NFO,35004,15,BANKNIFTY,BANKNIFTY03AUG23C38600,03-AUG-2023,OPTIDX,CE,38600.0,0.05
114640,NFO,35003,15,BANKNIFTY,BANKNIFTY10AUG23P39900,10-AUG-2023,OPTIDX,PE,39900.0,0.05
114641,NFO,35002,15,BANKNIFTY,BANKNIFTY10AUG23C39900,10-AUG-2023,OPTIDX,CE,39900.0,0.05
114642,NFO,35001,15,BANKNIFTY,BANKNIFTY10AUG23P33000,10-AUG-2023,OPTIDX,PE,33000.0,0.05
114643,NFO,35000,15,BANKNIFTY,BANKNIFTY10AUG23C33000,10-AUG-2023,OPTIDX,CE,33000.0,0.05

In [57]:
df[df['Symbol']=='ZYDUSLIFE']

,Exchange,Token,LotSize,Symbol,TradingSymbol,Expiry,Instrument,OptionType,StrikePrice,TickSize,Unnamed: 10
0,NFO,179896,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23P800,28-SEP-2023,OPTSTK,PE,800.0,0.05,NaN
1,NFO,179895,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23C800,28-SEP-2023,OPTSTK,CE,800.0,0.05,NaN
2,NFO,179894,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23P795,28-SEP-2023,OPTSTK,PE,795.0,0.05,NaN
3,NFO,179893,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23C795,28-SEP-2023,OPTSTK,CE,795.0,0.05,NaN
4,NFO,179892,1800,ZYDUSLIFE,ZYDUSLIFE28SEP23P790,28-SEP-2023,OPTSTK,PE,790.0,0.05,NaN
...,...,...,...,...,...,...,...,...,...,...,...
109893,NFO,39776,1800,ZYDUSLIFE,ZYDUSLIFE27JUL23C805,27-JUL-2023,OPTSTK,CE,805.0,0.05,NaN
110949,NFO,38704,1800,ZYDUSLIFE,ZYDUSLIFE27JUL23P710,27-JUL-2023,OPTSTK,PE,710.0,0.05,NaN
110954,NFO,38699,1800,ZYDUSLIFE,ZYDUSLIFE27JUL23C710,27-JUL-2023,OPTSTK,CE,710.0,0.05,NaN
111779,NFO,37870,1800,ZYDUSLIFE,ZYDUSLIFE31AUG23P700,31-AUG-2023,OPTSTK,PE,700.0,0.05,NaN
111786,NFO,37863,1800,ZYDUSLIFE,ZYDUSLIFE31AUG23C700,31-AUG-2023,OPTSTK,CE,700.0,0.05,NaN

In [77]:
res = api.searchscrip(exchange="NFO", searchtext="Reliance AUG")
df_nifty = pd.DataFrame(res['values'])
df_nifty

https://piconnect.flattrade.in/PiConnectTP//SearchScrip
jData={"uid": "FT020770", "exch": "NFO", "stext": "Reliance+AUG"}&jKey=b32f87d61af0f061e28376dcbd9f5bd1b7b3d2962f3ca1726b72bc00ef442a0e
{"stat":"Ok","values":[{"exch":"NFO","token":"48328","tsym":"RELIANCE31AUG23F","dname":"RELIANCE AUG FUT","optt":"XX","instname":"FUTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"63506","tsym":"RELIANCE31AUG23P1440","dname":"RELIANCE AUG 1440 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"63505","tsym":"RELIANCE31AUG23C1440","dname":"RELIANCE AUG 1440 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"63508","tsym":"RELIANCE31AUG23P1460","dname":"RELIANCE AUG 1460 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"63507","tsym":"RELIANCE31AUG23C1460","dname":"RELIANCE AUG 1460 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"63510","tsym":"RELIANCE31AUG23P1480","dname":"RELIANCE AUG 1480 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"63509","tsym":"RELIANCE31AUG23C1480","dname":"RELIANCE AUG 1480 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"60771","tsym":"RELIANCE31AUG23P1500","dname":"RELIANCE AUG 1500 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"60770","tsym":"RELIANCE31AUG23C1500","dname":"RELIANCE AUG 1500 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"60775","tsym":"RELIANCE31AUG23P1520","dname":"RELIANCE AUG 1520 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"60774","tsym":"RELIANCE31AUG23C1520","dname":"RELIANCE AUG 1520 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"60778","tsym":"RELIANCE31AUG23P1540","dname":"RELIANCE AUG 1540 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"60776","tsym":"RELIANCE31AUG23C1540","dname":"RELIANCE AUG 1540 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"60780","tsym":"RELIANCE31AUG23P1560","dname":"RELIANCE AUG 1560 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"60779","tsym":"RELIANCE31AUG23C1560","dname":"RELIANCE AUG 1560 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141181","tsym":"RELIANCE31AUG23P1580","dname":"RELIANCE AUG 1580 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141180","tsym":"RELIANCE31AUG23C1580","dname":"RELIANCE AUG 1580 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141183","tsym":"RELIANCE31AUG23P1600","dname":"RELIANCE AUG 1600 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141182","tsym":"RELIANCE31AUG23C1600","dname":"RELIANCE AUG 1600 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141185","tsym":"RELIANCE31AUG23P1620","dname":"RELIANCE AUG 1620 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141184","tsym":"RELIANCE31AUG23C1620","dname":"RELIANCE AUG 1620 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141187","tsym":"RELIANCE31AUG23P1640","dname":"RELIANCE AUG 1640 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141186","tsym":"RELIANCE31AUG23C1640","dname":"RELIANCE AUG 1640 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141189","tsym":"RELIANCE31AUG23P1660","dname":"RELIANCE AUG 1660 PE ","optt":"PE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"},{"exch":"NFO","token":"141188","tsym":"RELIANCE31AUG23C1660","dname":"RELIANCE AUG 1660 CE ","optt":"CE","instname":"OPTSTK","pp":"2","ls":"250","ti":"0.05"}]}

,exch,token,tsym,dname,optt,instname,pp,ls,ti
0,NFO,48328,RELIANCE31AUG23F,RELIANCE AUG FUT,XX,FUTSTK,2,250,0.05
1,NFO,63506,RELIANCE31AUG23P1440,RELIANCE AUG 1440 PE,PE,OPTSTK,2,250,0.05
2,NFO,63505,RELIANCE31AUG23C1440,RELIANCE AUG 1440 CE,CE,OPTSTK,2,250,0.05
3,NFO,63508,RELIANCE31AUG23P1460,RELIANCE AUG 1460 PE,PE,OPTSTK,2,250,0.05
4,NFO,63507,RELIANCE31AUG23C1460,RELIANCE AUG 1460 CE,CE,OPTSTK,2,250,0.05
5,NFO,63510,RELIANCE31AUG23P1480,RELIANCE AUG 1480 PE,PE,OPTSTK,2,250,0.05
6,NFO,63509,RELIANCE31AUG23C1480,RELIANCE AUG 1480 CE,CE,OPTSTK,2,250,0.05
7,NFO,60771,RELIANCE31AUG23P1500,RELIANCE AUG 1500 PE,PE,OPTSTK,2,250,0.05
8,NFO,60770,RELIANCE31AUG23C1500,RELIANCE AUG 1500 CE,CE,OPTSTK,2,250,0.05
9,NFO,60775,RELIANCE31AUG23P1520,RELIANCE AUG 1520 PE,PE,OPTSTK,2,250,0.05
10,NFO,60774,RELIANCE31AUG23C1520,RELIANCE AUG 1520 CE,CE,OPTSTK,2,250,0.05
11,NFO,60778,RELIANCE31AUG23P1540,RELIANCE AUG 1540 PE,PE,OPTSTK,2,250,0.05
12,NFO,60776,RELIANCE31AUG23C1540,RELIANCE AUG 1540 CE,CE,OPTSTK,2,250,0.05
13,NFO,60780,RELIANCE31AUG23P1560,RELIANCE AUG 1560 PE,PE,OPTSTK,2,250,0.05
14,NFO,60779,RELIANCE31AUG23C1560,RELIANCE AUG 1560 CE,CE,OPTSTK,2,250,0.05
15,NFO,141181,RELIANCE31AUG23P1580,RELIANCE AUG 1580 PE,PE,OPTSTK,2,250,0.05
16,NFO,141180,RELIANCE31AUG23C1580,RELIANCE AUG 1580 CE,CE,OPTSTK,2,250,0.05
17,NFO,141183,RELIANCE31AUG23P1600,RELIANCE AUG 1600 PE,PE,OPTSTK,2,250,0.05
18,NFO,141182,RELIANCE31AUG23C1600,RELIANCE AUG 1600 CE,CE,OPTSTK,2,250,0.05
19,NFO,141185,RELIANCE31AUG23P1620,RELIANCE AUG 1620 PE,PE,OPTSTK,2,250,0.05
20,NFO,141184,RELIANCE31AUG23C1620,RELIANCE AUG 1620 CE,CE,OPTSTK,2,250,0.05
21,NFO,141187,RELIANCE31AUG23P1640,RELIANCE AUG 1640 PE,PE,OPTSTK,2,250,0.05
22,NFO,141186,RELIANCE31AUG23C1640,RELIANCE AUG 1640 CE,CE,OPTSTK,2,250,0.05
23,NFO,141189,RELIANCE31AUG23P1660,RELIANCE AUG 1660 PE,PE,OPTSTK,2,250,0.05
24,NFO,141188,RELIANCE31AUG23C1660,RELIANCE AUG 1660 CE,CE,OPTSTK,2,250,0.05

In [15]:
df = pd.read_csv('apidata/NFO/symbol_token.csv', parse_dates=['expiry'])
print(df.dtypes)
sym = 'INTELLECT'
today = datetime.datetime(2023, 7, 28)
quotePrice = 2632
trantype = "CE"
df = df[(df['symbol']==sym)  & (df["optiontype"]==trantype)]
# df['deltadays'] = df['expiry']-today
# df['deltaprice'] = abs(df['strikeprice']-quotePrice)
# df = df[df['symbol']==sym]
# df = df.nsmallest(1, ['deltadays', 'deltaprice'] ,keep="all")
df

exchange               object
token                   int64
lotsize                 int64
symbol                 object
tsym                   object
expiry         datetime64[ns]
instrument             object
optiontype             object
strikeprice           float64
ticksize              float64
dtype: object

,exchange,token,lotsize,symbol,tsym,expiry,instrument,optiontype,strikeprice,ticksize
21287,NFO,151619,1300,INTELLECT,INTELLECT27JUL23C860,2023-07-27,OPTSTK,CE,860.0,0.05
21289,NFO,151617,1300,INTELLECT,INTELLECT27JUL23C850,2023-07-27,OPTSTK,CE,850.0,0.05
21291,NFO,151615,1300,INTELLECT,INTELLECT27JUL23C840,2023-07-27,OPTSTK,CE,840.0,0.05
21293,NFO,151613,1300,INTELLECT,INTELLECT27JUL23C830,2023-07-27,OPTSTK,CE,830.0,0.05
21295,NFO,151611,1300,INTELLECT,INTELLECT27JUL23C820,2023-07-27,OPTSTK,CE,820.0,0.05
...,...,...,...,...,...,...,...,...,...,...
109491,NFO,40178,1300,INTELLECT,INTELLECT27JUL23C640,2023-07-27,OPTSTK,CE,640.0,0.05
109493,NFO,40176,1300,INTELLECT,INTELLECT27JUL23C635,2023-07-27,OPTSTK,CE,635.0,0.05
109507,NFO,40162,1300,INTELLECT,INTELLECT27JUL23C630,2023-07-27,OPTSTK,CE,630.0,0.05
111052,NFO,38601,1300,INTELLECT,INTELLECT27JUL23C870,2023-07-27,OPTSTK,CE,870.0,0.05
112789,NFO,36856,1300,INTELLECT,INTELLECT27JUL23C605,2023-07-27,OPTSTK,CE,605.0,0.05

In [92]:
df = df[(df["symbol"]=="BANKNIFTY") & (df['expiry']>=today)]

df.nsmallest(1, 'deltadays' ,keep="all")

,exchange,token,lotsize,symbol,tsym,expiry,instrument,optiontype,strikeprice,ticksize,deltadays
96559,NFO,53182,15,BANKNIFTY,BANKNIFTY27JUL23P55000,2023-07-27,OPTIDX,PE,55000.0,0.05,1 days
96560,NFO,53181,15,BANKNIFTY,BANKNIFTY27JUL23C55000,2023-07-27,OPTIDX,CE,55000.0,0.05,1 days
96561,NFO,53180,15,BANKNIFTY,BANKNIFTY27JUL23P54500,2023-07-27,OPTIDX,PE,54500.0,0.05,1 days
96562,NFO,53179,15,BANKNIFTY,BANKNIFTY27JUL23C54500,2023-07-27,OPTIDX,CE,54500.0,0.05,1 days
96563,NFO,53178,15,BANKNIFTY,BANKNIFTY27JUL23P54000,2023-07-27,OPTIDX,PE,54000.0,0.05,1 days
...,...,...,...,...,...,...,...,...,...,...,...
114569,NFO,35074,15,BANKNIFTY,BANKNIFTY27JUL23P30500,2023-07-27,OPTIDX,PE,30500.0,0.05,1 days
114570,NFO,35073,15,BANKNIFTY,BANKNIFTY27JUL23C30500,2023-07-27,OPTIDX,CE,30500.0,0.05,1 days
114573,NFO,35070,15,BANKNIFTY,BANKNIFTY27JUL23C49700,2023-07-27,OPTIDX,CE,49700.0,0.05,1 days
114574,NFO,35069,15,BANKNIFTY,BANKNIFTY27JUL23P49600,2023-07-27,OPTIDX,PE,49600.0,0.05,1 days
114583,NFO,35060,15,BANKNIFTY,BANKNIFTY27JUL23C49600,2023-07-27,OPTIDX,CE,49600.0,0.05,1 days

In [132]:
import datetime
td = datetime.date.today()

In [138]:
pd.DatetimeIndex(data=None, freq=_NoDefault.no_default, tz=_NoDefault.no_default, normalize=False, closed=None, ambiguous='raise', dayfirst=False, yearfirst=False, dtype=None, copy=False, name=None)

NameError: name '_NoDefault' is not defined

In [8]:
import datetime
import pandas as pd

st=datetime.datetime.now().replace(hour=9, minute=30, second=0, microsecond=0)
et=datetime.datetime.now().replace(hour=15, minute=30, second=0, microsecond=0)

for dt in pd.date_range(start=st, end=et, freq='1T'):
    print(type(dt))
    print(dt)
    dt2 = dt.to_pydatetime()
    print(dt2)
    print(type(dt2))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:30:00
2023-07-31 09:30:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:31:00
2023-07-31 09:31:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:32:00
2023-07-31 09:32:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:33:00
2023-07-31 09:33:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:34:00
2023-07-31 09:34:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:35:00
2023-07-31 09:35:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:36:00
2023-07-31 09:36:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:37:00
2023-07-31 09:37:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:38:00
2023-07-31 09:38:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:39:00
2023-07-31 09:39:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:40:00
2023-07-31 09:40:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:41:00
2023-07-31 09:41:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:42:00
2023-07-31 09:42:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:43:00
2023-07-31 09:43:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:44:00
2023-07-31 09:44:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:45:00
2023-07-31 09:45:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:46:00
2023-07-31 09:46:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:47:00
2023-07-31 09:47:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:48:00
2023-07-31 09:48:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:49:00
2023-07-31 09:49:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:50:00
2023-07-31 09:50:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:51:00
2023-07-31 09:51:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:52:00
2023-07-31 09:52:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:53:00
2023-07-31 09:53:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:54:00
2023-07-31 09:54:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:55:00
2023-07-31 09:55:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:56:00
2023-07-31 09:56:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:57:00
2023-07-31 09:57:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:58:00
2023-07-31 09:58:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 09:59:00
2023-07-31 09:59:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:00:00
2023-07-31 10:00:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:01:00
2023-07-31 10:01:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:02:00
2023-07-31 10:02:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:03:00
2023-07-31 10:03:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:04:00
2023-07-31 10:04:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:05:00
2023-07-31 10:05:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:06:00
2023-07-31 10:06:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:07:00
2023-07-31 10:07:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:08:00
2023-07-31 10:08:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:09:00
2023-07-31 10:09:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:10:00
2023-07-31 10:10:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:11:00
2023-07-31 10:11:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:12:00
2023-07-31 10:12:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:13:00
2023-07-31 10:13:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:14:00
2023-07-31 10:14:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:15:00
2023-07-31 10:15:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:16:00
2023-07-31 10:16:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:17:00
2023-07-31 10:17:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:18:00
2023-07-31 10:18:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:19:00
2023-07-31 10:19:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:20:00
2023-07-31 10:20:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:21:00
2023-07-31 10:21:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:22:00
2023-07-31 10:22:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:23:00
2023-07-31 10:23:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:24:00
2023-07-31 10:24:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:25:00
2023-07-31 10:25:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:26:00
2023-07-31 10:26:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:27:00
2023-07-31 10:27:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:28:00
2023-07-31 10:28:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:29:00
2023-07-31 10:29:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:30:00
2023-07-31 10:30:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:31:00
2023-07-31 10:31:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:32:00
2023-07-31 10:32:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:33:00
2023-07-31 10:33:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:34:00
2023-07-31 10:34:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:35:00
2023-07-31 10:35:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:36:00
2023-07-31 10:36:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:37:00
2023-07-31 10:37:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:38:00
2023-07-31 10:38:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:39:00
2023-07-31 10:39:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:40:00
2023-07-31 10:40:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:41:00
2023-07-31 10:41:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:42:00
2023-07-31 10:42:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:43:00
2023-07-31 10:43:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:44:00
2023-07-31 10:44:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:45:00
2023-07-31 10:45:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:46:00
2023-07-31 10:46:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:47:00
2023-07-31 10:47:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:48:00
2023-07-31 10:48:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:49:00
2023-07-31 10:49:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:50:00
2023-07-31 10:50:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:51:00
2023-07-31 10:51:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:52:00
2023-07-31 10:52:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:53:00
2023-07-31 10:53:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:54:00
2023-07-31 10:54:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:55:00
2023-07-31 10:55:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:56:00
2023-07-31 10:56:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:57:00
2023-07-31 10:57:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:58:00
2023-07-31 10:58:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 10:59:00
2023-07-31 10:59:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:00:00
2023-07-31 11:00:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:01:00
2023-07-31 11:01:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:02:00
2023-07-31 11:02:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:03:00
2023-07-31 11:03:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:04:00
2023-07-31 11:04:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:05:00
2023-07-31 11:05:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:06:00
2023-07-31 11:06:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:07:00
2023-07-31 11:07:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:08:00
2023-07-31 11:08:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:09:00
2023-07-31 11:09:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:10:00
2023-07-31 11:10:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:11:00
2023-07-31 11:11:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:12:00
2023-07-31 11:12:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:13:00
2023-07-31 11:13:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:14:00
2023-07-31 11:14:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:15:00
2023-07-31 11:15:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:16:00
2023-07-31 11:16:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:17:00
2023-07-31 11:17:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:18:00
2023-07-31 11:18:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:19:00
2023-07-31 11:19:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:20:00
2023-07-31 11:20:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:21:00
2023-07-31 11:21:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:22:00
2023-07-31 11:22:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:23:00
2023-07-31 11:23:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:24:00
2023-07-31 11:24:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:25:00
2023-07-31 11:25:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:26:00
2023-07-31 11:26:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:27:00
2023-07-31 11:27:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:28:00
2023-07-31 11:28:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:29:00
2023-07-31 11:29:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:30:00
2023-07-31 11:30:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:31:00
2023-07-31 11:31:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:32:00
2023-07-31 11:32:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:33:00
2023-07-31 11:33:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:34:00
2023-07-31 11:34:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:35:00
2023-07-31 11:35:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:36:00
2023-07-31 11:36:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:37:00
2023-07-31 11:37:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:38:00
2023-07-31 11:38:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:39:00
2023-07-31 11:39:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:40:00
2023-07-31 11:40:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:41:00
2023-07-31 11:41:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:42:00
2023-07-31 11:42:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:43:00
2023-07-31 11:43:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:44:00
2023-07-31 11:44:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:45:00
2023-07-31 11:45:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:46:00
2023-07-31 11:46:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:47:00
2023-07-31 11:47:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:48:00
2023-07-31 11:48:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:49:00
2023-07-31 11:49:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:50:00
2023-07-31 11:50:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:51:00
2023-07-31 11:51:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:52:00
2023-07-31 11:52:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:53:00
2023-07-31 11:53:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:54:00
2023-07-31 11:54:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:55:00
2023-07-31 11:55:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:56:00
2023-07-31 11:56:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:57:00
2023-07-31 11:57:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:58:00
2023-07-31 11:58:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 11:59:00
2023-07-31 11:59:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:00:00
2023-07-31 12:00:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:01:00
2023-07-31 12:01:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:02:00
2023-07-31 12:02:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:03:00
2023-07-31 12:03:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:04:00
2023-07-31 12:04:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:05:00
2023-07-31 12:05:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:06:00
2023-07-31 12:06:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:07:00
2023-07-31 12:07:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:08:00
2023-07-31 12:08:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:09:00
2023-07-31 12:09:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:10:00
2023-07-31 12:10:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:11:00
2023-07-31 12:11:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:12:00
2023-07-31 12:12:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:13:00
2023-07-31 12:13:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:14:00
2023-07-31 12:14:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:15:00
2023-07-31 12:15:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:16:00
2023-07-31 12:16:00
<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-07-31 12:17:00
2023-07-31 12:17:00
<class 'datetime.datetime'>

In [16]:
df = pd.read_csv('nsedata/fo/fo_mktlots.csv')

In [19]:
df = df.apply(lambda x: x.apply(lambda y: y.strip()))

In [21]:
df

,UNDERLYING,SYMBOL,JUL-23,AUG-23,SEP-23,DEC-23,MAR-24,JUN-24,DEC-24,JUN-25,DEC-25,JUN-26,DEC-26,JUN-27,DEC-27,JUN-28
0,NIFTY BANK,BANKNIFTY,15,15,15,15,15,15,,,,,,,,
1,NIFTY 50,NIFTY,50,50,50,50,50,50,50,50,50,50,50,50,50,50
2,NIFTY FINANCIAL SERVICES,FINNIFTY,40,40,40,,,,,,,,,,,
3,NIFTY MID SELECT,MIDCPNIFTY,75,75,75,,,,,,,,,,,
4,Derivatives on Individual Securities,Symbol,JUL-23,AUG-23,SEP-23,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,POWER FIN CORP LTD.,PFC,6200,6200,6200,,,,,,,,,,,
186,TATA STEEL LIMITED,TATASTEEL,5500,5500,5500,,,,,,,,,,,
187,GODREJ PROPERTIES LTD,GODREJPROP,475,475,475,,,,,,,,,,,
188,VODAFONE IDEA LIMITED,IDEA,80000,80000,80000,,,,,,,,,,,
189,MPHASIS LIMITED,MPHASIS,275,275,275,,,,,,,,,,,